# Python
__pycache__/
*.py[cod]
.venv/
venv/

# 环境变量与密钥（不要上传！）
.env
.env.dev
.env.prod
.env.test

# 数据库与日志
database.db
*.log

# Node / Expo (mobile)
node_modules/
.expo/
dist/
web-build/

# OS / IDE
.DS_Store
.vscode/
